@font-face {
    font-family: 'Franklin Gothic';
    src: url('fonts/subset-FranklinGothic-Medium.eot');
    src: url('fonts/subset-FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-FranklinGothic-Medium.woff2') format('woff2'),
        url('fonts/subset-FranklinGothic-Medium.woff') format('woff'),
        url('fonts/subset-FranklinGothic-Medium.ttf') format('truetype'),
        url('fonts/subset-FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


body {
    font-family: 'Franklin Gothic', sans-serif;
    background-color: #141b23;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: right top;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    font-weight: 500;
}

.link {
    color: #8d96a5;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    margin-right: 15px;
}

.active {
    font-size: 17px;
    margin-right: 25px;
}

.nav {
    margin-top: 65px;
    margin-left: 55px;
}

.text {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
}